*Ignore node_modules
**/node_modules

*Ignore .env file
.env

*Ignore documents folder
**/documents

*Ignore firebase account details
bnb-plus-development.json
bnb-plus-test.json

*Ignore npm-debug
npm-debug.log
